!!! 5
%html{:lang => "en"}

  %head= render :partial => 'layouts/head'
  %body

    %header
      %ul.nav
        - if current_user
          %li= link_to 'Logout',  logout_path
        - else
          %li= link_to 'Login',   login_path
          %li= link_to 'Sign Up', new_user_path

    .content
      = flash_message.html_safe unless flash.empty?
      = yield
  
    %footer
      &copy; #{Time.now.year}